.facture-main, input{
	font-family: cursive; 
}
input{
	border: none;
    background-color: #E5E7E9;
}
th {
	background-color: #5DADE2;
}
td {
	width: 100%;
}
a{
	background-color: #58D68D;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 15px 15px 15px 15px;
    color: black;
    text-decoration: none;
}
.facturation-group{
	display: flex;
	flex-direction: row;
	padding: 2px;
}
.facturation-label{
	width: 10%;
	text-align: right;
	padding-right: 5px;
}
.wid60{
	width: 60%;
}
.wid20{
	width: 20%;
}
.wid90{
	width: 90%;
}
.wid100{
	width: 100%;
}
.wid99{
	width: 99.7%;
}
.textCenter{
	text-align: center;
}
.padTop10 {
	padding-top: 10px;
}